body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 150px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 30px;
}

.welcome {
    display: flex;
    background-color: #1F2937;
    padding: 50px 150px;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}


h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    max-width: 500px;
}

.awesome-text {
    font-size: 18px;
    color: #E5E7EB;
    padding: 20px 0;
    max-width: 500px;
}

.button-one {
    border-style: hidden;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}

.awesome-img {
    min-width: 400px
}

.random {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    align-self: center;
}

.info-boxes {
    display: flex;
    font-size: 12px;
    color: #1F2937;
    justify-content: space-around;
    padding: 0 350px;
    flex-wrap: wrap;
    
}

.info-img {
    border-radius: 10px;
    aspect-ratio: 1;
    border: 3px solid;
    border-color: #3882F6;
    flex-grow: 1;
    flex-basis: 0;
}

.text {
    width: 100px;
    flex-grow: 1;
    flex-basis: 0;
}

.quote {
   display: flex;
   flex-direction: column;
   width: 490px;
   background-color: #E5E7EB;
}

.quote-text {
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.quote-source {
    font-weight: 700;
    font-size: 24px;
    align-self: flex-end;
}